@model IEnumerable<InMemoryContactData.Models.Contact>

@{
    ViewBag.Title = "Home Page";
}

<div class="overall-container">

    <div class="col-12 main">
        <div class="justify-content-start">

            <div class="test">

                <div class="col-md-4 center-content">
                    <h6>Select Jurisdiction:</h6>

                    <p class="button-placement">
                        <input id="dropdownlist-v2" class="lrg-btn" />
                    </p>
                </div>

                <div class="col-md-4">
                    <h6>Select Roles:</h6>

                    <p class="button-placement">
                        <input id="dropdownlist" class="lrg-btn" />
                    </p>
                </div>


            </div><!---End of Test-->



        </div>
    </div>

    <div class="row grid-placement first-grid">
        <div class="col-10">
            <h6>Jurisdiction Details</h6>
            <div id="grid-v1"></div>
        </div>
    </div>

    <div class="row gridtwo-placement second-grid">
        <div class="col-8">
            <h6>Contact Inventory</h6>
            <div id="grid"></div>
        </div>
    </div>

    <div>There are number in the db.</div>


</div><!--Overall-Container class End-->

<script>
    $(document).ready(function() {
        $(".lrg-btn").kendoButton();
        $("#grid").kendoGrid({
        
            height: 550,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [{
                    field:"Name",
                    filterable: false
                },
                {
                    field: "Email",
                    title: "Email",
                    filterable: false
                },
                {
                    field: "Phone",
                    title: "Phone",
                    format: "{0:MM/dd/yyyy}",
                    filterable: false
                }, {
                    field: "Hours",
                    title: "Hours",
                    filterable: false
                }, {
                    field: "Notes",
                    title: "Notes",
                    filterable: false
                }, {
                    field: "Jurisdiction",
                    title: "Jurisdiction",
                    filterable: false
                }, {
                    field: "Role",
                    title: "Role",
                    filterable: false
                }, {
                    command: ["edit", "destroy"],
                    title: "  ",
                    width: "250px"
                },
            ]
        });
    });

    /* Grid-v1 */

    $(document).ready(function () {
        
        $("#grid-v1").kendoGrid({
            height: 150,
            columns: [{
                field: "Name",
                filterable: false
            },
            {
                field: "Email",
                title: "Email",
                filterable: false
            },
            {
                field: "Phone",
                title: "Phone",
                format: "{0:MM/dd/yyyy}",
                filterable: false
            }, {
                field: "Hours",
                title: "Hours",
                filterable: false
            }, {
                field: "Notes",
                title: "Notes",
                filterable: false
            }, {
                field: "Jurisdiction",
                title: "Jurisdiction",
                filterable: false
            }, {
                field: "Role",
                title: "Role",
                filterable: false
            }
            ]
        });
    });

    
    /* Test Grid */

    $(document).ready(function () {
        var crudServiceBaseUrl = "https://demos.telerik.com/kendo-ui/service",
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/Products",
                        dataType: "jsonp"
                    },
                    update: {
                        url: crudServiceBaseUrl + "/Products/Update",
                        dataType: "jsonp"
                    },
                    destroy: {
                        url: crudServiceBaseUrl + "/Products/Destroy",
                        dataType: "jsonp"
                    },
                    create: {
                        url: crudServiceBaseUrl + "/Products/Create",
                        dataType: "jsonp"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "ProductID",
                        fields: {
                            ProductID: { editable: false, nullable: true },
                            ProductName: { validation: { required: true } },
                            UnitPrice: { type: "number", validation: { required: true, min: 1 } },
                            Discontinued: { type: "boolean" },
                            UnitsInStock: { type: "number", validation: { min: 0, required: true } }
                        }
                    }
                }
            });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: 550,
            toolbar: ["create"],
            columns: [
                { field: "ProductName", title: "Product Name" },
                { field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "120px" },
                { field: "UnitsInStock", title: "Units In Stock", width: "120px" },
                { field: "Discontinued", width: "120px", editor: customBoolEditor },
                { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
            editable: "popup"
        });
    });

    function customBoolEditor(container, options) {
        $('<input class="k-checkbox" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
    }

</script>